{% extends "base.html" %}

{% block title %}Gerenciamento{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold text-blue-500">Gerenciamento</h1>

<div class="mt-6 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
    <a href="{{ url_for('relatorios.listar_clientes') }}"
        class="block bg-gray-800 p-6 rounded-lg text-center hover:bg-gray-700">
        <h2 class="text-xl font-semibold text-white">Clientes Registrados</h2>
    </a>

    <a href="{{ url_for('relatorios.listar_locacoes') }}"
        class="block bg-gray-800 p-6 rounded-lg text-center hover:bg-gray-700">
        <h2 class="text-xl font-semibold text-white">Locações Realizadas</h2>
    </a>

</div>
{% endblock %}
